
<div class="header">
    <div class="header__wrapper">
        <div class="options_set-1">
            <a href="#" >
                <div class="header_option icon">
                    <img src="{{ url_for('static', filename='img/all_logs.png') }}">
                    <p>All Logs</p>
                </div>
            </a>
            <div class="header_option icon">
                <img src="{{ url_for('static', filename='img/user.png') }}">
                <p>Manage Users</p>
            </div>
            <div class="header_option icon">
                <img src="{{ url_for('static', filename='img/profile.png') }}">
                <p>Manage Profile</p>
            </div>
        </div>

        <div class="options_set-2 icon">
            <div class="header_option">
                <img src="{{ url_for('static', filename='img/logout.png') }}">
                <p>Logout</p>
            </div>
        </div>
    </div> 
</div>