{% extends "base/boilerplate.html" %}


{% block content %}

    <container class="main">
        <div class="main-col-1">
            
        </div>
        <div class="main-col-2">
            <div class="main-col-2__info_boxes">
                <div class="wrapper box_1 schedule_bot--wrapper">
                    <div class="info_box">
                        <img src="{{ url_for('static', filename='img/robot_1.png') }}">
                        <p class="info_box_heading">Schedule Bot</p>
                        <div class="info_box-stats">
                            <div class="stat_wrapper bot-status">
                                <img src="/public/img/sleep.png">
                            </div>
                            <div class="stat_wrapper">
                                <btn id="schedJobs">Jobs Info</btn>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper box_2 personal_bot--wrapper">
                    <div class="info_box">
                        <img src="{{ url_for('static', filename='img/robot_2_orange.png') }}">
                        <p class="info_box_heading">Your Bot</p>
                        <div class="info_box-stats">
                            <div class="stat_wrapper bot-status">
                                <img src="/public/img/sleep.png">
                            </div>
                            <div class="stat_wrapper">
                                <btn id="yourJobs">Jobs Info</btn>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper box_3">
                    <p class="info_box_heading">Menu</p>
                    <div class="menu_box">
                        <div class="option_wrapper icon" id="todaySchedule">
                            <img src="{{ url_for('static', filename='img/calendar.png') }}">
                            <p>Today's Schedule</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="main-col-2__nav_div">
                <div class="tab tab_active" id="tab_accounts" data-resource="accounts">Accounts <span class=" btn--filter__counter">0</span></div>
                <div class="tab" id="tab_assets" data-resource="pages">Pages</div>
                <div class="tab" id="tab_assets" data-resource="keywords">Keywords</div>
            </div>
            <div class="main-col-2__actions_div">
                <div class="actions_div__btn_wrapper">
                    <btn id="addNew">+ New Account</btn>
                    <btn id="edit" class="disabled">Edit</btn>
                    <div class="drop-down">
                        <btn id="bulkActions">Bulk Actions ⮟</btn>
                        <div class="btn_bulk__container hidden ">
                            <btn id="pause"> Pause</btn>
                            <btn id="activate"> Activate</btn>
                            <btn id="captureMany"> Capture</btn>
                        </div>
                    </div>
                </div>
                <div class="actions_div__search_field">
                    <div class="wrapper">
                        <img class="icon btn--search" src="{{ url_for('static', filename='img/search-3076.png') }}">
                        <input id="search" type="text" placeholder="Search by Name/Keyword">
                    </div>
                </div>
                <div class="drop-down">
                    <img class="icon btn--filter btn--dropdown" id="filterBtn"
                        src="{{ url_for('static', filename='img/filter.png') }}">
                    <div class="icon btn--filter__counter hidden" id="filterCounter"></div>
                    <!-- Dropdown Filter Menu -->
                    <div class="filter__container hidden">
                        <div id="filterMenu">
                            <!-- <div class="filter__row">
                                <div >
                                    <label>Field</label>
                                    <select id="filter--field">
                                        <option value="email">Email Account</option>
                                    </select>
                                </div>
                                <div>
                                    <label >Operator</label>
                                    <select id="filter--operator">
                                        <option value=">">gt</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Value</label>
                                    <input id="filter--value" placeholder="Filter value">
                                </div>
                            </div> -->
                        </div>
                        <div class="wrapper__btn--filter">
                            <btn class="btn--add-filter" id="add-filter">+ ADD FILTER</btn>
                            <btn class="btn--clear-filter" id="clear-filters">CLEAR FILTERS</btn>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table_div__wrapper">
                <div class="main-col-2__table_div">

                    <!-- Accounts table -->
                    <table class="accounts--table">
                        <thead>
                            <th><input type="checkbox" class="checkbox select-all"></th>
                            <th>Active</th>
                            <th>ID</th>
                            <th>Account Email</th>
                            <th>Account Name</th>
                            <th>Last screenshot status</th>
                            <th>Last email status</th>
                            <th>Last screenshot date</th>
                            <th>Last email date</th>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <!-- Pages Table -->

                    <table class="pages--table hidden">
                        <thead>
                            <th><input type="checkbox" class="checkbox select-all"></th>
                            <th>Active</th>
                            <th>ID</th>
                            <th>Page Name</th>
                            <th>Page ID</th>
                            <th>Account ID</th>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <!-- Keywords Table -->

                    <table class="keywords--table hidden">
                        <thead>
                            <th><input type="checkbox" class="checkbox select-all"></th>
                            <th>Active</th>
                            <th>ID</th>
                            <th>Keyword</th>
                            <th>Account ID</th>
                        </thead>
                        <tbody></tbody>
                    </table>



                </div>
                <table>
                    <tfooter>
                        <tf id="accSummary"></tf>
                    </tfooter>
                </table>
            </div>
        </div>
    </container>


    <!-- Create Menu -->
    <!-- <div class="create__wrapper top--layer">
        <div class="create--resource__window">
            <div class="close-X">X</div>
            <h3>Create Account</h3>
            <div class="create--form">
                <div class="resource--field">
                    <p>Account Name</p>
                    <input type="text">
                </div>
                <div class="resource--field">
                    <p>Account Email</p>
                    <input type="text">
                </div>
                <btn id="create"> CREATE</btn> 
            </div>
        </div>
    </div> -->


    <!-- EDIT MENU-->

    <div class="update__wrapper hidden ">
        <!-- MENU for ACCOUNTS -->
        <div class="update--resource__window accounts--resource hidden">

            <!-- Switch -->
            <div class="resource__menu--header">
                <div class="close-X">X</div>
                <label class="switch">
                    <input type="checkbox" name="active" data-selector="resource--field" checked>
                    <span class="slider round"></span>
                </label>

            </div>
            <h3>UPDATE ACCOUNT</h3>
            <div class="update--form">
                <div class="resource--field">
                    <p>Account Name</p>
                    <input name="name" data-input="true" data-selector="resource--field" type="text">
                </div>
                <div class="resource--field">
                    <p>Account Email</p>
                    <input name="email" data-input="true" data-selector="resource--field" type="text">
                </div>
            </div>
            <div class="resource--field field__email--body">
                <p>Email Body</p>
                <textarea name="email_body" data-input="true" data-selector="resource--field" type="text"></textarea>
            </div>
            <btn id="update"> Update</btn>

            <div class="resource__menu-side">
                <div class="stat__section section">
                    <h3 class="heading-first">STATS</h3>
                    <div class="resource__stat--wrapper">
                        <div class="resource__stat">
                            <h4> Last Email Status</h4>
                            <div class="dot--container" name="last_email_fail">
                            </div>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Screenshot Status</h4>
                            <div class="dot--container" name="last_scrape_fail">
                            </div>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Screenshot Date</h4>
                            <p name="last_scraped"> 10/24/56</p>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Email Date</h4>
                            <p name="last_emailed"> 10/24/56</p>
                        </div>
                    </div>
                </div>
                <div class="action__section section">
                    <h3 class="heading-second">ACTIONS</h3>
                    <div class="resource__actions--wrapper">
                        <div class="resource__action icon" id="lastPDF">
                            <img src="{{ url_for('static', filename='img/pdf.png') }}">
                            <p>Last PDF</p>
                        </div>
                        <div class="resource__action icon" id="captureAcc">
                            <img src="{{ url_for('static', filename='img/screenshot.png') }}">
                            <p>Capture</p>
                        </div>
                        <div class="resource__action icon" id="sendEmail">
                            <img src="{{ url_for('static', filename='img/email.png') }}">
                            <p>Send Email</p>
                        </div>
                        <div class="resource__action icon" id="checkLogs">
                            <img src="{{ url_for('static', filename='img/logs.png') }}">
                            <p>Check Logs</p>
                        </div>
                        <div class="resource__action icon" id="addPage">
                            <img src="{{ url_for('static', filename='img/page_add.png') }}">
                            <p>Add Page</p>
                        </div>
                        <div class="resource__action icon" id="addKeyword">
                            <img src="{{ url_for('static', filename='img/keyword_add.png') }}">
                            <p>Add Keyword</p>
                        </div>
                        <div class="resource__action icon" id="checkSchedule">
                            <img src="{{ url_for('static', filename='img/calendar.png') }}">
                            <p>Check Schedule</p>
                        </div>
                        <div class="resource__action icon" id="addSchedule">
                            <img src="{{ url_for('static', filename='img/calendar_add.png') }}">
                            <p>Add Schedule</p>
                        </div>

                    </div>
                </div>
                <div class="delete__section section">
                    <btn id="deleteResource"> Delete</btn>
                </div>
            </div>
        </div>

        <!-- MENU for PAGES -->
        <div class="update--resource__window pages--resource hidden">

            <!-- Switch -->
            <div class="resource__menu--header">
                <div class="close-X">X</div>
                <label class="switch">
                    <input type="checkbox" name="active" data-selector="resource--field" checked>
                    <span class="slider round"></span>
                </label>

            </div>
            <h3>UPDATE PAGE</h3>
            <div class="update--form">
                <div class="resource--field">
                    <p>Page Name</p>
                    <input name="name" data-input="true" data-selector="resource--field" type="text">
                </div>
                <div class="resource--field">
                    <p>Page Id</p>
                    <input name="page_id" data-input="true" data-selector="resource--field" type="text">
                </div>
            </div>
            <btn id="update"> Update</btn>

            <div class="resource__menu-side">
                <div class="stat__section section">
                    <h3 class="heading-first">PAGE OWNER INFO</h3>
                    <div class="resource__stat--wrapper">
                        <div class="resource__stat">
                            <h4> Last Email Status</h4>
                            <div class="dot--container" name="last_email_fail">
                            </div>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Screenshot Status</h4>
                            <div class="dot--container" name="last_scrape_fail">
                            </div>
                        </div>
                        <div class="resource__stat">
                            <h4> Account Name</h4>
                            <p name="acc_name"></p>
                        </div>
                        <div class="resource__stat">
                            <h4> Account Email</h4>
                            <p name="email"> </p>
                        </div>

                        <div class="resource__stat">
                            <h4> Last Screenshot Date</h4>
                            <p name="last_scraped"></p>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Email Date</h4>
                            <p name="last_emailed"></p>
                        </div>
                    </div>
                </div>
                <div class="delete__section section">
                    <btn id="deleteResource"> Delete</btn>
                </div>
            </div>
        </div>


        <!-- MENU for KEYWORDS -->
        <div class="update--resource__window keywords--resource hidden">

            <!-- Switch -->
            <div class="resource__menu--header">
                <div class="close-X">X</div>
                <label class="switch">
                    <input type="checkbox" name="active" data-selector="resource--field" checked>
                    <span class="slider round"></span>
                </label>

            </div>
            <h3>UPDATE KEYWORD</h3>
            <div class="update--form">
                <div class="resource--field">
                    <p>Keyword</p>
                    <input name="keyword" data-input="true" data-selector="resource--field" type="text">
                </div>
            </div>
            <btn id="update"> Update</btn>

            <div class="resource__menu-side">
                <div class="stat__section section">
                    <h3 class="heading-first">KEYWORD OWNER INFO</h3>
                    <div class="resource__stat--wrapper">
                        <div class="resource__stat">
                            <h4> Last Email Status</h4>
                            <div class="dot--container" name="last_email_fail">
                            </div>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Screenshot Status</h4>
                            <div class="dot--container" name="last_scrape_fail">
                            </div>
                        </div>
                        <div class="resource__stat">
                            <h4> Account Name</h4>
                            <p name="acc_name"></p>
                        </div>
                        <div class="resource__stat">
                            <h4> Account Email</h4>
                            <p name="email"> </p>
                        </div>

                        <div class="resource__stat">
                            <h4> Last Screenshot Date</h4>
                            <p name="last_scraped"></p>
                        </div>
                        <div class="resource__stat">
                            <h4> Last Email Date</h4>
                            <p name="last_emailed"></p>
                        </div>
                    </div>
                </div>
                <div class="delete__section section">
                    <btn id="deleteResource"> Delete</btn>
                </div>
            </div>
        </div>
    </div>




    <!-- Logs Table -->
    <div class="logs__wrapper top--layer hidden ">
        <div class="account-logs-screen">
            <div class="close-wrapper">
                <h3>ACTIVITY LOGS</h3>
                <div class="close-X">X</div>
            </div>
            <table class="account--logs-table">
                <thead>
                    <th>Started by</th>
                    <th>Info</th>
                    <th>Date</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Todays Schedule -->

    <div class="today--schedule__wrapper top--layer hidden">
        <div class="close-wrapper">
            <h3>TODAYS SCHEDULE</h3>
            <div class="close-X">X</div>
        </div>
        <div class="today--schedule__window">
            <!-- <div class="scheduled--account">
               <p class="scheduled--account_email">boogmil@cvetkov@gmail.com</p>
               <p class="scheduled--account_hour">17</p>
           </div> -->
        </div>
    </div>



    <!-- Job Queue Menu -->

    <div class="job--queue-wrapper top--layer hidden schedJobs">
        <div class="close-wrapper">
            <h3>JOB EXECUTION SCHEME</h3>
            <div class="close-X">X</div>
        </div>

        <!-- Schedule Queue Window -->
        <div class="bot__container bot__container--schedule">
            <div class="queue__container" id="schedQCont1">
                <h4>Waiting for execution</h4>
                <div class="queue" id="waitSchedQ">
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                </div>
            </div>
            <div class="queue__container" id="schedQCont2">
                <h4>Failed and waiting for retry</h4>
                <div class="queue" id="retrySchedQ">
                    <div class="queued--job">56</div>
                </div>
            </div>

            <div class="queue__container" id="schedQCont3">
                <h4>Currently executing</h4>
                <div class="queue" id="executeSchedQ">
                    <div class="queued--job">56</div>
                </div>
            </div>

        </div>

    </div>


    <div class="job--queue-wrapper top--layer hidden yourJobs">
        <div class="close-wrapper">
            <h3>JOB EXECUTION SCHEME</h3>
            <div class="close-X">X</div>
        </div>

        <!-- Schedule Queue Window -->
        <div class="bot__container bot__container--personal">
            <div class="queue__container" id="persQCont1">
                <h4>Waiting for execution</h4>
                <div class="queue" id="waitPersQ">
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                    <div class="queued--job">56</div>
                </div>
            </div>

            <div class="queue__container" id="persQCont2">
                <h4>Currently executing</h4>
                <div class="queue" id="executePersQ">
                    <div class="queued--job">56</div>
                </div>
            </div>

        </div>

    </div>







    <!-- MESSAGES DIV -->

    <!-- <div class="message--container msg--success">
        <p>New Message</p>
    </div> -->

    <!-- CONFIRM SCREEN -->
    <!-- <div class="confirm--screen">
        <h4>Confirm Action</h4>
        <btn id="YES">YES</btn>
        <btn id="NO">NO</btn>
    </div> -->

    <!-- Processing Screen -->
    <!-- <div class="loading--screen">
        <h2> Processing</h2>
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div> -->

    <script src="{{ url_for('static', filename='js/controller/controllers/appController.js') }}" type="module"></script>


    {% endblock %}