{% extends "base/boilerplate.html" %}

{% block content %}

    <div class="logs__container">
        <div class="wrapper">
            <h3 class="container--h3"> ALL LOGS TABLE</h3>
            <div class="search_logs">
                <select name="parameters" id="logsParams">
                    <option value="started_by">Started By</option>
                    <option value="account_name">Account Name</option>
                    <option value="log_msg">Message</option>
                    <option value="log_details">Details</option>
                    <option value="fail">Failed</option>
                  </select>
                  <div class="logs-seaerch-wrapper">
                    <input type="text">
                    <img class="icon btn--search" src="{{ url_for('static', filename='img/search-3076.png') }}">
                 </div>
            </div>
            <div class="logs__window">
                <table class="all_logs--table">
                    <thead>
                        <th>Started by</th>
                        <th>Acc Name</th>
                        <th>Message</th>
                        <th>Details</th>
                        <th>Date</th>
                        <th>Failed</th>
                        <th>Account Id</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                    
            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/controller/controllers/logsController.js') }}" type="module"></script>

    
{% endblock %}